body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
}
.side-image {
    width: 40%;
    text-align: center;
}
.side-image img {
    width: 100%;
    max-width: 150px;
}
.container {
    width: 60%;
}
header {
    background-color: #ed0707;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header img {
    width: 80px;
    vertical-align: middle;
}
header h1 {
    display: inline;
    margin-left: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #072df1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #072df1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #072df1;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #072df1;
    color: white;
}
td a {
    color: #072df1;
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 20px ; /* Aumenta el espacio dentro del pie */
    background-color: #072df1;
    color: white;
    margin-top:150px; /* Espacio adicional entre el contenido y el pie */
    margin-bottom: 0px; /* Espacio adicional debajo del pie si es necesario */
}
